torch
torchvision
ftfy
regex
tqdm # fancy progress bars
pillow
numpy
pandas
scipy # spatial distance cosine
jsonlines
requests
open_clip_torch # for original paper
transformers
argparse
seaborn
matplotlib
openai
dotenv
einops # for radio